.products-container {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 10px;
  row-gap: 50px;
}
// Ipad
@media only screen and (min-width: 768px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

// computer
@media only screen and (min-width: 1200px) {
  .products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
