.form-container {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 80%;
}

@media only screen and (min-width: 768px){
    .form-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 30px auto;
        width: 80%;
    }
}